<div style="padding-top: 30px;">
    <div class="row">
        <p style="font-size:1.5em">
            O SAGUI é uma solução perfeita para consultórios e dentistas que necessitem de gestão das guias enviadas para operadoras. É um sistema que permite organizar documentos, automatizar a comunicação com operadoras melhorando o faturamento, controle de armazenamentos de arquivos e redução de glosas.
        </p>
        <p style="font-size:1.5em">
            Para dentistas que necessitem de gestão das guias geradas para operadoras. O Sagui é um sistema que permite organizar documentos, automatizar a comunicação com operadoras de convênio, e melhorar o faturamento, ao invés de utilizar planilhas manuais. Nós garantimos melhor visão de guias, controle de armazenamento de arquivos e redução de glosas.
        </p>
    </div>
</div>
<hr />
<div>
    <div class="row">
        <div>
            <p style="font-size:1.5em">
                Permitir que o consultório possa gerenciar e controlar a emissão de guias. Armazenar documentos anexados às guias para serem enviados às operadoras de convênio, evitando glosas e aumentando o faturamento.
            </p>
        </div>
        <div class="col-md-6">
            <h3>O problema</h3>
            <ul>
                <li>Perda de receita ao solicitar pagamento para as operadoras (glosa).</li>
                <li>Falta de gerenciamento de guias.</li>
                <li>Falta de armazenamento de documentos.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>A solução</h3>
            <ul>
                <li>Organizar documentos.</li>
                <li>Automatizar a comunicação com operadoras melhorando o faturamento.</li>
                <li>Controle de armazenamentos de arquivos e redução de glosas.</li>
            </ul>
        </div>
    </div>
</div>
