
.containerLogIn {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    width: 10rem;
    background-color: #ececec;
    height: 10rem;
}

    .containerLogIn ul li {
        list-style: none;
    }

    .containerLogIn span.login {
        color: #47525E;
        font-family: Lato;
        font-size: 40px;
        font-weight: 700;
        line-height: 51px;
        width: 600px;
        text-align: center;
        color: #47525E;
    }

    .containerLogIn input[type="text"] {
        background-color: #FFFFFF;
        border: 1px solid #8492A6;
        border-radius: 5px;
        width: 287px;
        height: 50px;
    }

    .containerLogIn input[type="submit"] {
        background-color: #47525E;
        border-radius: 5px;
        width: 287.75px;
        height: 50px;
        color: #fff;
    }



.indexTxtBottom {
    margin-top: -15rem !important;
}

.cliente {
    float: right;
    margin-top: 3rem;
}

    .cliente ul li a {
        color: #fff !important;
        font-size: 1.7rem;
    }

.h1TextoSagui {
    margin-top: 2.7rem;
    position: absolute;
    font-size: 3rem;
    color: #fff;
    font-family: fantasy;
    margin-left: 3rem;
}

.h1Sagui {
    display: block;
    text-indent: -9999px;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    margin: 1rem;
    background-size: contain;
    float: left;
}

.svgFill {
    filter: contrast(0)brightness(2);
}

@media screen and (min-width: 768px) {
    .h1Sagui {
        width: 7rem;
        height: 7rem;
    }
}
