<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConnectionManagerDatabaseServers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <ConnectionManagerDatabaseServers>
    <add key="localhost" value="localhost" />
    <add key="Dev" value="Dev.MyDomain.local" />
    <add key="Test" value="Test.MyDomain.local" />
    <add key="Live" value="Prod.MyDomain.com" />
  </ConnectionManagerDatabaseServers>
</configuration>
