<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DALBaseHandler" type="Sagui.Base.DAL.DALBaseHandler, Sagui.Base" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="sqlConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=sagui;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  <DALBaseHandler Name="Sagui.Base.DAL.DALBaseSQL" ConnectionStringName="sqlConnectionString" />
</configuration>